<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div>
  <%= f.label :role %><br/>
  <%= f.select :role, User::ROLES, :selected => 'Manager' %>
  </div>

  <div>
  <%= f.label :reported_to %><br/>
  <%= f.select :reported_to, User.all.map {|p| [p.email, p.id]}, :include_blank => 'Please Select' %>
  </div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>
