<script type="text/javascript">
  $(function() {
    $( ".datepicker" ).datepicker({ dateFormat: "yy-mm-dd" });
  });
</script>

<% if @task.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

  <ul>
    <% @task.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= f.label :task %><br>
  <%= f.text_field :task %>
</div>
<div class="field">
   <%= f.label :description %><br>
   <%= f.text_area :description %>
</div>
<div>
  <%= f.label :status %> <br/>
  <%= f.select :status, Task::STATUS %>
</div>
<div>
  <%= f.label :under_project %> <br/>
  <%= f.select :under_project, Project.all.map {|p| [p.project_name, p.id]} %>
</div>
<div>
  <%= f.label :assigned_to %><br/>
  <%= f.select :assigned_to, User.all.map {|u| [u.email, u.id]}, :include_blank => 'Please Select' %>
</div>

<div>
  <%= f.label :start_date %><br>
  <%= f.text_field :start_date, :class => 'datepicker', :readonly => true %>
</div>

<div>
  <%= f.label :expected_end_date %><br>
  <%= f.text_field :expected_end_date, :class => 'datepicker', :readonly => true %>
</div>

