<h1>Editing task</h1>

<%= form_for(:task, :url => { :action => :update }, :html => {:method => :put}) do |f| %>

<%= render :partial => "form", :locals => { :f => f } %>

<div class="actions">
  <%= f.submit %>
</div>
<% end %>

<%= link_to 'Show', user_task_url(@user, @task), :class => 'btn btn-mini btn-info' %> |
<%= link_to 'Back', user_tasks_url, :class => 'btn btn-mini' %>
