
<div id="form-heading">
<h3>Tasks Assigned by Me</h3><%= image_tag 'divider.png' %>
</div>
<table class="table table-striped table-condensed table-hover">
  <thead>
    <tr>
      <th>Project</th>
      <th>Task Assigned For</th>
      <th>Task</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
    <% if task.user_id == current_user.id %>
      <tr>
        <td><%= Project.find(task.select_project).project_name%></td>
        <td><%= User.find(task.assigned_to).first_name%></td>
        <td style = "-ms-text-overflow: ellipsis; width: 200px; overflow: hidden;"><%= task.task %></td>
        <td><%= link_to 'Show', user_task_path(@user, task),:class => 'btn btn-mini btn-info' %></td>
        <td>&emsp;<%= link_to 'Edit', edit_user_task_path(@user, task), :class => 'btn btn-mini' %></td>
        <td>&emsp;<%= link_to 'Destroy', {:controller => :tasks, :action => :destroy, :id => task}, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<center><%= link_to 'New Task', new_user_task_path, :class =>'btn btn-primary'%></center>
</div>