<div id="form-heading">
<h3>Tasks Assigned To Me</h3><%= image_tag 'divider.png' %>
</div>

<table class = 'table table-striped table-condensed table-hover'>
  <thead>
    <tr>
      <th>Project</th>
      <th>Task Assigned By</th>
      <th>Task</th>
      <th>Expected end date</th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
    <% if task.assigned_to == current_user.id %>
      <tr>
        <td><%= Project.find(task.select_project).project_name %></td>
        <td><%= User.find(task.user_id).first_name %></td>
        <td style = "text-overflow: ellipsis; width: 200px; overflow: hidden;"><%= task.task %></td>
        <td><%= task.expected_end_date %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>


