<h1>New task</h1>

<%= form_for(:task, :url => { :action => :create }, :html => {:method => :post}) do |f| %>

<%= render :partial => "form", :locals => { :f => f } %>

<div>
  <%= f.hidden_field :user_id, :value => current_user.id %>
</div>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>

<%= link_to 'Back', user_tasks_path, :class => 'btn btn-mini' %>



<script type="text/javascript">
  $(function($) {
  $("#task_under_project").change(function() {
    $.ajax({
      url: '<%= users_by_project_user_tasks_path %>' + '?under_project=' + this.value ,
      type: 'GET',
      success: function(data){
        $('#task_assigned_to').html('');
        var options = $('#task_assigned_to').append('<option value="">Please Select</option>')
        $.each( data, function( key, value ) {
          options.append("<option value="+value[0]+">"+value[1]+"</option>")
         });
      }
    })

  });
})
</script>