<div class="breadcrumb">
<div id="form-heading">
  <h3>New task</h3><%= image_tag "divider.png" %>
</div>

<%= form_for(:task, :url => { :action => :create }, :html => {:method => :post}) do |f| %>
<table class="table table-condensed">
<%= render :partial => "form", :locals => { :f => f } %>

  <%= f.hidden_field :user_id, :value => current_user.id %>

<tr><td>
  		<%= f.submit %>
	</td>

<% end %>

<td class="pull-right"><%= link_to 'Back', user_tasks_path, :class => 'btn btn-info' %></td></tr>
</table>
</div>
