
<h3>Task Details</h3>
<hr>
<p>
	<strong>Project:</strong>
	<%= Project.find(@task.under_project).project_name %>
</p>
<p>
  <strong>Task:</strong>
  <%= @task.task %>
</p>

<p>
  <strong>Expected end date:</strong>
  <%= @task.expected_end_date %>
</p>

<%= link_to 'Edit', edit_user_task_path(@user, @task) %> |
<%= link_to 'Back', user_tasks_path %>
