

<% if @description.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@description.errors.count, "error") %> prohibited this description from being saved:</h2>

      <ul>
      <% @description.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <tr><div>
      <td><%= f.label :select_project %></td>
      <td><%= f.select :select_project, Project.user_project(current_user).map {|p| [p.project_name, p.id]}, :autofocus => true %></td>
  </div></tr>

  <tr><div>
      <td><%= f.label :select_task %></td>
      <td><%= f.select :select_task, Task.find(:all, :conditions => { :assigned_to => current_user.id, :under_project => current_user.under_project }).map {|p| [p.task, p.id]} %></td>
  </div></tr>
  <tr><div>
    <td><%= f.label :status_on %></td>
    <td><%= f.date_field :status_on %></td>
  </div></tr>
  <tr><div>
    <td><%= f.label :number_of_hours %></td>
    <td><%= f.text_field :number_of_hours %></td>
  </div></tr>
  <tr><div>
    <td><%= f.label :today_status %></td>
    <td><%= f.text_area :today_status %></td>
  </div><tr>


