<div id= "heading"><h3>Editing Description</h3>
	<%= image_tag "divider.png" %>
</div>

<%= form_for(:description, :url => { :action => :update }, :html => {:method => :put}) do |f| %>
  
  <%= render :partial => "form", :locals => { :f => f } %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Show', user_description_path(@user, @description) %> |
<%= link_to 'Back', user_descriptions_path %>
