

<table class="breadcrumb table table-striped table-condensed table-hover">
    <thead>
<th><h3>User status reports </h3></th>

    <tr>
      <th>Project Name:</th>
      <th>Task:</th>
      <th>Status On:</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @descriptions.each do |description| %>
      <% if description.user_id == current_user.id %>
      <tr>
        <td><%= Project.find(description.select_project).project_name %></td>
        <td><%= Task.find(description.select_task).task %></td>
        <td><%= description.status_on %></td>
        <td><%= link_to 'Show', user_description_path(@user, description), :class => "btn btn-mini btn-info" %></td>
        <td><%= link_to 'Edit', edit_user_description_path(@user, description), :class => "btn btn-mini" %></td>
        <td><%= link_to 'Destroy', {:controller=>:descriptions,:action=>:destroy, :id=>description}, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-mini btn-danger" %></td>
      </tr>
      <% end %>
    <% end %>
<tr><td><td></td></td><td><%= link_to 'New Status', new_user_description_path, :class => "btn btn-primary" %></td></tr>
</tbody>
</table>