<h3>User status reports: </h3>

<table>
  <thead>
    <tr>
      <th>Status On</th>
      <th>&emsp;Status</th>
      <th>&emsp;User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @descriptions.each do |description| %>
      <tr>
        <% date = description.created_at.localtime %>
        <td><%= date.strftime("%d-%m-%Y") %></td>
        <td>&emsp;<%= description.today_status %></td>
        <td>&emsp;<%= description.user.email.split('@')[0] %></td>
        <td>&emsp;<%= link_to 'Show', user_description_path(@user, description), :class => "btn btn-mini btn-info" %></td>
        <td>&emsp;<%= link_to 'Edit', edit_user_description_path(@user, description), :class => "btn btn-mini" %></td>
        <td>&emsp;<%= link_to 'Destroy', {:controller=>:descriptions,:action=>:destroy, :id=>description}, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-mini btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Status', new_user_description_path, :class => "btn btn-primary" %>
