
<table class = "breadcrumb table table-condensed">

<th><h3>Daily Status Report</h3><hr></th>

<%= form_for(:description, :url => { :action => :create }, :html => {:method => :post}) do |f| %>
  
  <%= render :partial => "form", :locals => { :f => f } %>

  <div class="field">
    <%= f.hidden_field :user_id, :value => current_user.id %>
  </div>
  
  <tr><div class="actions">
    <td></td>
    <td><%= f.submit %></td>
    <td><%= link_to 'Back', user_descriptions_path, :class => "btn btn-mini" %></td>
  </div></tr>
<% end %>


</table>