
<h3>Edit User</h3>


<%= form_for(@user, :html => { :method => :put }) do |f| %>

<% if @user.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being updated:</h2>

  <ul>
    <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div><%= f.label :first_name %><br />
  <%= f.text_field :first_name, :autofocus => true %></div>

  <div><%= f.label :last_name %><br />
    <%= f.text_field :last_name, :autofocus => true %></div>

    <div><%= f.label :email %><br />
      <%= f.email_field :email, :autofocus => true %></div>

    <div>
      <%= f.label :profile_photo%>
      <%= f.file_field :profile_photo %>
    </div>

      <div>
        <%= f.label :role %><br/>
        <%= f.select :role, User::ROLES, :autofocus => true %>
      </div>

      <div>
        <%= f.label :reported_to %><br/>
        <%= f.select :reported_to, User.all.map {|p| [p.email, p.id]}, :autofocus => true %>
      </div>

      <div>
        <%= f.label :under_project %> <br/>
        <%= f.select :under_project, Project.all.map {|p| [p.project_name, p.id]} %>
      </div>

      <div><%= f.label :password %> <i>(If you want to change password enter new password else enter old password)</i><br />
        <%= f.password_field :password %>
      </div>

      <div class="actions">
        <%= f.submit %>
      </div>
      <% end %>

      <%= link_to 'Show', user_path(@user), :class => 'btn btn-mini btn-info' %> |
      <%= link_to 'Back', users_path, :class => 'btn btn-mini' %>