<div class="well span8">

<h3 style="margin-left: 70px;">create new user</h3>
<hr/>

<%= form_for(:user, :url => {:action => :create}, :html => {:method => :post}) do |f| %>
 
   <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <center>


  <div>
  <%= f.text_field :first_name, :placeholder => "first name", :style => "margin-left: 70px;", :id => "input_medium" %>

 
  <%= f.text_field :last_name, :placeholder => "last name", :id => "input_medium" %></div>

  <div>
  <%= f.email_field :email, :placeholder => "email", :id => "input_large" %></div>

  <div>
  <%= f.password_field :password, :placeholder => "password", :id => "input_large" %></div>

  <div>
  <%= f.password_field :password_confirmation, :placeholder => "password conformation", :id => "input_large" %></div>

  <div style="float: left; margin-left: 70px;">
  <%= f.label :role, :style => "font-size: 16px; margin-left: -185px;" %>
  <%= f.select :role, User::ROLES, :include_blank => 'please select' %>
  </div>
  <div style="float: left;">
  <%= f.label :reported_to, :style => "margin-left: -140px; font-size: 16px;" %>
  <%= f.select :reported_to, '' %>
  </div>

  <div ><%= f.submit "sign up user", :class => "btn btn-info btn-large" %></div>
<% end %>
</center>
</div>



<script type="text/javascript">
  $(function($) {
  $("#user_role").change(function() {
    $.ajax({
      url: '<%= users_by_role_users_path %>' + '?role=' + this.value ,
      type: 'GET',
      success: function(data){
        $('#user_reported_to').html('');
        var options = $('#user_reported_to').append('<option value="">Please Select</option>')
        $.each( data, function( key, value ) {
          options.append("<option value="+value[0]+">"+value[1]+"</option>")
         });
      }
    })

  });
})
</script>