
<%= render :partial => "users/profile_info" %>

<% tasks = Task.tasks_ends_in_this_week(current_user) %>

<div style="margin-left: 0px;"class="accordion span9" id="accordion2">
 <div class="accordion-group">
   <div class="accordion-heading">
     <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
       <h4>The tasks ends in this week. </h4>
     </a>
   </div>
   <div id="collapseOne" class="accordion-body collapse in">
    <div class="accordion-inner">
      <% if tasks.empty? %>
      <p>There are no tasks ends in this week. </p>
      <% else %>
      <ol>
        <% tasks.each do |task| %>
        <li><%= link_to task.task, user_task_path(current_user, task) %>
          <span class="badge badge-warning">TASK END DATE : <%= task.expected_end_date %></span></li>
          <%- end %>
        </ol>
        <%- end %>
      </div>
    </div>
  </div>

  <% if current_user.role == 'Admin' %>
  <% projects = Project.where( :end_date => Date.today..Date.today + 7 )%>
  <% else %>
  <% projects = Project.projects_ends_in_this_week(current_user) %>
  <% end -%>
  <div class="accordion-group">
   <div class="accordion-heading">
     <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
       <h4>The projects ends in this week. </h4>
     </a>
   </div>
   <div id="collapseTwo" class="accordion-body collapse">
     <div class="accordion-inner">
      <ol>
        <% if projects.count == 0 %>
        <p>No Project notifications.</p>
        <% else %>
        <% projects.each do |project| %>
        <span><li><%= link_to(project.project_name, project_path(project)) %>
          <%= project.end_date %></li></span>
          <% end %>
          <% end %>
        </ol>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

  $(document).ready(function() {
    $('[data-toggle="show_modal"]').click(function(e) {
      e.preventDefault();
      var url = $(this).attr('href');
      if (url.indexOf('#') == 0) {
        $(url).modal('open');
      } else {
        $.get(url, function(data) {
          $('<div class="modal hide fade">' + data + '</div>').modal();
        }).success(function() { $('input:text:visible:first').focus(); });
      }
    });
  });

</script>


