
<h2>Welcome <%= current_user.first_name %>!</h2>
<div class = "span2">
<%= image_tag current_user.profile_photo%></div>
<div class = "span5">
<h3>
<%= current_user.role %><br/>
<%= current_user.email %><br/>
<%= Project.find(current_user.under_project).project_name %><br/>
<br/>
<p>hello sunil tasks for the day is</p>
</h3>
</div>