<div class = "breadcrumb">

	<div id="form-heading">
		<h3>Edit Project</h3><%= image_tag "divider.png" %>
	</div>

	<%= form_for(@project) do |f| %>
	<table class = "table table-condensed">
		<%= render :partial => "form", :locals => { :f => f } %>

		<tr>
			<td><div class="pull-right"><%= f.submit %></div></td>
		</tr>

		<% end %>

	</table>
</div>
<span class ="win-command">
	<%= link_to 'Back', projects_url, :class => 'win-commandicon win-commandring icon-back', :style => "" %>
</span>

<span class ="pull-right win-command">
	<%= link_to 'Show', @project, :class => 'win-commandicon win-commandring icon-upload', :style => "" %>
</span>
