
<table class = "table breadcrumb">
<tr><th><h3>EDIT PROJECT</h3></th></tr>
<hr>
<%= form_for(@project) do |f| %>

<%= render :partial => "form", :locals => { :f => f } %>

<tr><td><div class="actions"><%= f.submit %></div></td></tr>

<%- end -%>



<span style = "margin-top: -60px;" class ="win-command">
<%= link_to 'Back', projects_url, :class => 'win-commandicon win-commandring icon-back', :style => "" %></span>
<span style = "margin-top: -60px; margin-right: 20px;" class ="pull-right win-command">
<%= link_to 'Show', @project, :class => 'win-commandicon win-commandring icon-upload', :style => "" %></span>

</table>