<h3><i>Editing project</i></h3>

<%= form_for(@project) do |f| %>

<%= render :partial => "form", :locals => { :f => f } %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Show', @project, :class => 'btn btn-mini btn-info' %> |
<%= link_to 'Back', projects_url, :class => 'btn btn-mini' %>
