<div class="breadcrumb">

<div id="form-heading"><h3>New Project</h3>
<%= image_tag "divider.png" %></div>
		<a href="<%= projects_path %>" class="win-command pull-right">
			<span class="win-commandicon win-commandring icon-back"></span>
			<span class="win-label">All Projects</span>
		</a>


<%= form_for(:project, :url => { :action => :create }, :html => {:method => :post}) do |f| %>
<table class="table table-condensed">
	
<%= render :partial => "form", :locals => { :f => f } %>

<tr>
	<td><div class="pull-right"><%= f.submit %></div></td>
</tr>
</table>

<% end %>

</div>