<div class = "breadcrumb">

	<div id="form-heading">
		<h3>Apply for a leave</h3><%= image_tag "divider.png" %>
	</div>
	<a href="<%= user_time_offs_path %>" class="win-command pull-right">
    <span class="win-commandicon win-commandring icon-back"></span>
    <span class="win-label">BACK</span>
	</a>


<%= form_for(:time_off, :url => { :action => :create }, :html => {:method => :post}) do |f| %>
<table class = "table">
  <tr>
    <td><%= f.label :status %></td>
    <td><%= f.text_field :status, :value => 'New', :disabled => true %></td>
  </tr>
<%= render :partial => "form", :locals => { :f => f } %>

   <tr>
    <td class="pull-right"><%= f.submit 'Apply Leave'%></td>
    <td><%= link_to 'Cancel', user_time_offs_path, :class => "btn btn-info" %></td>
   </tr>
<% end %>
</table>
</div>