<center>

<div class="modal hide fade in" id="modal">

<div style="margin-top: 20px; color: #24A0DA; font-family: Open Sans; text-transform: uppercase;">

<!-- <button id="cross" class="close" data-dismiss="modal">	&times; </button> -->
	<h3>Login</h3>
</div>

<div>
		<%= image_tag "divider.png" %><br/><br/>
</div>
<%= bootstrap_flash %>
<div class="input-prepend"><span id="facebook" class="add-on"></span>
<%= button_tag "Connect Via Facebook", :class => "btn btn-primary", :id => "facebook_button", :'data-toggle' =>"tooltip", :title => "you cannot connect via facebook"%>
</div>		

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>


<h4>OR</h4>


  <div class="input-prepend"><span id="head" class="add-on"></span><%= f.email_field :email, :placeholder => "Email", :id => "my_input" %>
  </div>


  <div class="input-prepend"><span id="lock" class="add-on"></span><%= f.password_field :password, :placeholder => "Password", :id => "my_input" %></div>

  <div class"span6"><%= f.submit "LOGIN", :class => "btn", :id => "login_button", :'data-loading-text' => "Loging in..."%>
  </div>

<% end %>

<div id="shared_links"> <%= render "devise/shared/links" %>
</div><br/>

</center>